artifacts/
checkpoints/
venv/
.venv/
svenv/
env-py311/
*.swp
data/
DiffSinger/
training_logs/
training_*.out
__pycache__/

*.onnx
*.ckpt
*.pt
*.zip
*.out
*.log
*.pyc
*.pyo
*.swp
artifacts/
data/NNSVS_training_data/
data/binary/
outputs/

commands.txt
19Apr-Commands.sh

webapp/output/
webapp/tmp_ds/
webapp/uploaded_ds/
webapp/uploaded_mei/
